<div class="container">

    <div class="row">

        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="form-wrapper">
                <h1>Spotify Search</h1>
                <form ng-submit="searchApi()">
                    <input type="text" name="search"
                            autocomplete="off"
                            class="form-control"
                            placeholder="Type your favourite artist. E.g.: Adele"
                            ng-model="artist">
                    <button type="submit" class="btn btn-default btn-block" ng-disabled="!artist">Search</button>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div ng-if="list.artists.total > 0">
                <artist-card data="list"></artist-card>
            </div>
            <div ng-if="list.artists.total == 0">
                <div class="alert alert-warning" role="alert">Hmmm...we couldn't find any results :(</div>
            </div>
        </div>

    </div>
</div>
